* {
    margin: 0;
    padding: 0;
}
.profile-picture {
    border-radius: 50%;
    width: 100px;
}

.title-container {
}

.about-me-container {
    
}

table {
    border-collapse:separate; 
    border-spacing: 2em 1em;
  }
